.forecast-card{
    width: 160px;
    transition: all .6s ease;
}

.forecast-card:hover{
    transform: scale(1.05);

}

.bg-custom{
    background-color: rgb(199, 232, 245);
}

body{
    overflow-x: hidden;
}